<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="admin.css" rel="stylesheet">
    <title>Revenue</title>
</head>
<body>
    <h1>Revenue</h1>
    <form action="/admin" method="post">
        <input type="text" class="form-control" name="Revenue">

    <button  type="submit" class="btn btn-warning btn-lg">Login</button>
</form>
<% messages.forEach(el => {%>
    <h2>$<%=el.value%></h2>
    <h2>Wins:<%=el.wins%></h2>
    <h2>Losses:<%=el.loss%></h2>
    <h2>Money Won:$<%=el.moneyWon%></h2>
    <h2>Money Loss:$<%=el.moneyLoss%></h2>
    <%})%>



</body>
</html>



